*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 200vh;
}

#text-zoom{
    position: fixed;
    top: 10%;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 70px;
    /* text-shadow: 2px px green; */
}